﻿@using Microsoft.AspNetCore.Identity

<!DOCTYPE html>
@inject SignInManager<IdentityUser> SignInManager

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/content/style.css" type="text/css" />
    <title>PogadamySe</title>
</head>
<body>
    <nav style="height: 10vh;" class="shadow bg-dark px-3">
        <div style="float: left; height: 10vh;" class="d-flex align-items-center">
            <div style="float: left;" class="text-light"><h2>POGADAMY</h2></div><div style="float: left;" class="text-danger"><h2>SE</h2></div>
            <div style="clear: both;"></div>
                @if (SignInManager.IsSignedIn(User))
                {
                    <div class="mx-4">
                        <form asp-action="SearchUser" asp-controller="Account" method="post" role="form">
                            <input type="text" placeholder="Wyszukaj..." name="username" autocomplete="off" />
                            <input type="submit" value="Szukaj" />
                        </form>
                    </div>
                }
            </div>
        <div style="float: right; height: 10vh;" class="d-flex align-items-center">
            @if (SignInManager.IsSignedIn(User))
            {
                @if (User.IsInRole("Admin"))
                {
                    <a asp-controller="Administration" asp-action="Index">PANEL ADMINISTRATORA</a>
                }

                <h4 class="mx-2 text-light">@User.Identity.Name</h4>
                <form asp-controller="Account" asp-action="Logout" method="post" role="form" id="logoutForm">
                    <a class="btn border-primary text-primary fw-bold" href="javascript:document.getElementById('logoutForm').submit()">Wyloguj</a>
                </form>
            }
            else
            {
                <div>
                    <a class="btn border-primary text-primary fw-bold" asp-controller="Account" asp-action="Login">Login</a>
                    <a class="btn border-primary text-primary fw-bold" asp-controller="Account" asp-action="Register">Register</a>
                </div>
            }
        </div>
        <div style="clear: both;"></div>
    </nav>

    <div>
        @RenderBody()
    </div>

    <footer style="height: 5vh;" class="d-flex align-content-center justify-content-center col-12 p-2 text-center bg-dark ">
        <span class="text-light">POGADAMYSE 2021 | Andrzej Lepiorz</span>
    </footer>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
</body>
</html>