﻿@model RegisterVM

    <div style="height: 85vh;" class="d-flex align-items-center">
        <div class="container bg-light rounded-lg col-6 p-3 mt-5 shadow">
            <h3 class="text-center">Rejestracja</h3>
            <form asp-action="Register" asp-controller="Account" method="post" class="form-horizontal" role="form">
                <div class="form-group ">
                    <div class="col-md-12">
                        <input placeholder="Nazwa użytkownika" asp-for="UserName" class="form-control" autocomplete="off" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group mt-3">
                    <div class="col-md-12">
                        <input placeholder="Hasło" asp-for="Password" class="form-control" autocomplete="off" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group mt-3">
                    <div class="col-md-12">
                        <input placeholder="Potwierdź hasło" asp-for="ConfirmPassword" class="form-control" autocomplete="off" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group mt-3">
                    <div class="col-md-12">
                        <input placeholder="Email" asp-for="Email" class="form-control" autocomplete="off"/>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group text-center m-2">
                    <div class="col-md-offset-2 col-md-12">
                        <input type="submit" class="btn btn-primary font-weight-bold" value="Stwórz konto" />
                    </div>
                </div>
            </form>
            <div class="dropdown-divider"></div>
            <div class="container text-center">
                <span>
                    Posiadasz już konto?
                    <a asp-action="Login" asp-controller="Account">Zaloguj się!</a>
                </span>
            </div>
        </div>
    </div>