﻿@using Microsoft.AspNetCore.Identity

@model IEnumerable<IdentityUser>

@foreach (var user in Model)
{
    <div>
        @if (user.UserName != User.Identity.Name)
        {
            @user.UserName
            <a asp-controller="Home" asp-action="CreateChat" asp-route-username="@user.UserName">Napisz wiadomość</a>
        }
    </div>
}