﻿<h2>Panel Admina</h2>
<a asp-controller="Administration" asp-action="CreateRole">Dodaj Rolę</a><br />
<a asp-controller="Administration" asp-action="SearchUserToChangeRole">Zmień rolę użytkownikowi</a><br />
<a asp-controller="Administration" asp-action="SearchUserToDeleteRole">Usuń rolę użytkownikowi</a><br />