﻿@model  UserRolesMV

<div style="height: 85vh;" class="col-12 d-flex align-items-center justify-content-center">
    <div id="leftPanelAdmin" class="col-lg-3 p-3 mx-3 shadow">
        <partial name="_PartialLeftPanel.cshtml" />
    </div>
    <div id="rightPanelAdmin" class="col-lg-6 p-3 mx-3 shadow d-flex align-items-center">
        <h1>@Model.Username</h1>

        @foreach (var role in Model.UserRoles)
        {
            <h5>@role</h5>
        }
    </div>
</div>