﻿@model ChangeRoleVM

<div style="height: 85vh;" class="col-12 d-flex align-items-center justify-content-center">
    <div id="leftPanelAdmin" class="col-lg-3 p-3 mx-3 shadow">
        <partial name="_PartialLeftPanel.cshtml" />
    </div>
    <div id="rightPanelAdmin" class="col-lg-6 p-3 mx-3 shadow d-flex align-items-center">
        @Model.Username
        

        <form asp-controller="Administration" asp-action="ChangeRole" method="post" role="form">
            <input name="username" value="@Model.Username" type="hidden"/>
            <select name="roleName">
                <option value=""></option>
                @foreach (var role in Model.Roles.OrderBy(r => r.Name))
                {
                    <option value="@role">@role</option>
                }
            </select>
            <input type="submit" value="Zmień rolę"/>
        </form>
    </div>
</div>