﻿@model CreateRoleVM

@*<div style="height: 85vh;" class="d-flex align-items-center ">
    
</div>*@

<div style="height: 85vh;" class="col-12 d-flex align-items-center justify-content-center">
    <div id="leftPanelAdmin" class="col-lg-3 p-3 mx-3 shadow">
        <partial name="_PartialLeftPanel.cshtml" />
    </div>
    <div id="rightPanelAdmin" class="col-lg-6 p-3 mx-3 shadow d-flex align-items-center">
            <div class="container bg-light rounded-lg col-5 p-3 shadow">
                <h3 class="text-center">Dodaj Rolę</h3>
                <form asp-action="CreateRole" asp-controller="Administration" method="post" role="form">
                    <div class="form-group">
                        <div class="col-md-12">
                            <input placeholder="Nazwa roli użytkownika" asp-for="RoleName" class="form-control" autocomplete="off" />
                            <span asp-validation-for="RoleName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group text-center m-2">
                        <div class="col-md-12">
                            <input type="submit" class="btn btn-primary font-weight-bold" value="Dodaj role" />
                        </div>
                    </div>
                </form>
            </div>
    </div>
</div>