﻿<div style="height: 85vh;" class="col-12 d-flex align-items-center justify-content-center">
    <div id="leftPanelAdmin" class="col-lg-3 p-3 mx-3 shadow">
        <partial name="_PartialLeftPanel.cshtml" />
    </div>
    <div id="rightPanelAdmin" class="col-lg-6 p-3 mx-3 shadow d-flex align-items-center">
        @if (TempData["ConfirmCreatRole"] != null && (bool)TempData["ConfirmCreatRole"] == true)
        {
            <h3 class="text-success">POMYŚLNIE STWORZONO ROLE</h3>
        }
        
        @if (TempData["ChangeRoleSucces"] != null && (bool)TempData["ChangeRoleSucces"] == true)
        {
            <h3 class="text-success">POMYŚLNIE ZMIENIONO ROLE</h3>
        }
        
        @if (TempData["RemoveRoleSucces"] != null && (bool)TempData["RemoveRoleSucces"] == true)
        {
            <h3 class="text-success">POMYŚLNIE USUNIĘTO ROLE</h3>
        }
    </div>
</div>