﻿@using Microsoft.AspNetCore.Identity

@model IEnumerable<IdentityUser>

<div style="height: 85vh;" class="col-12 d-flex align-items-center justify-content-center">
    <div id="leftPanelAdmin" class="col-lg-3 p-3 mx-3 shadow">
        <partial name="_PartialLeftPanel.cshtml" />
    </div>
    <div id="rightPanelAdmin" class="col-lg-6 p-3 mx-3 shadow d-flex align-items-center">
        <div class="container bg-light rounded-lg col-5 p-3 shadow">
            <h3 class="text-center">Szukaj użytkownika</h3>
            <form asp-action="SearchUserToChangeRole" asp-controller="Administration" method="post" role="form">
                <input type="text" placeholder="Wyszukaj..." name="username" autocomplete="off" />
                <input type="submit" value="Szukaj" />
            </form>
            @if (Model != null)
            {
                @foreach (var user in Model.OrderBy(x => x.UserName))
                {
                <div>
                    @if (user.UserName == User.Identity.Name)
                    {
                        <b>@user.UserName</b>
                        <a asp-controller="Administration" asp-action="ChangeRole" asp-route-username="@user.UserName">Zmień rolę</a>
                        <a asp-controller="Administration" asp-action="AllUserRoles" asp-route-username="@user.UserName">Sprawdź role</a>
                    }
                    else
                    {
                        @user.UserName
                        <a asp-controller="Administration" asp-action="ChangeRole" asp-route-username="@user.UserName">Zmień rolę</a>
                        <a asp-controller="Administration" asp-action="AllUserRoles" asp-route-username="@user.UserName">Sprawdź role</a>
                    }

                </div>
                }
            }
        </div>
    </div>
</div>