﻿@model UserRolesMV

<div style="height: 85vh;" class="col-12 d-flex align-items-center justify-content-center">
    <div id="leftPanelAdmin" class="col-lg-3 p-3 mx-3 shadow">
        <partial name="_PartialLeftPanel.cshtml" />
    </div>
    <div id="rightPanelAdmin" class="col-lg-6 p-3 mx-3 shadow d-flex align-items-center">
        <h1>@Model.Username</h1>

        @foreach (var role in Model.UserRoles)
        {
            <h5>@role</h5>
            <form asp-controller="Administration" asp-action="UserRolesToDelete" method="post" role="button">
                <input type="hidden" name="username" value="@Model.Username"/>
                <input type="hidden" name="role" value="@role"/>
                <input type="submit" value="Usuń rolę"/>
            </form>
        }
    </div>
</div>