﻿@model HomeVM

<div style="height: 85vh;" class="col-12 d-flex align-items-center justify-content-center">
    <div id="chats" class="col-lg-3 p-3 mx-3 shadow">
        <h2>Prywatne wiadomości</h2>
        @foreach (var chat in Model.Chats)
        {
            @if (chat.FirstUserName == User.Identity.Name)
            {
                <div><a asp-controller="Home" asp-action="Index" asp-route-chatuser="@chat.SecondUserName">@chat.SecondUserName</a></div>
            }
            else if (chat.SecondUserName == User.Identity.Name)
            {
                <div><a asp-controller="Home" asp-action="Index" asp-route-chatuser="@chat.FirstUserName">@chat.FirstUserName</a></div>
            }

        }
    </div>
    <div id="messages" class="col-lg-6 p-3 mx-3 shadow">
        <div style="height: 72vh; overflow-y: scroll;">
            <h3>Piszesz z: @Model.CurrentlyChatting</h3>
            @if (Model.MaxMessages > 20 && Model.howManyNow < Model.MaxMessages)
            {
                <form asp-controller="Home" asp-action="ShowMoreMessage" method="post" role="button">
                    <input type="submit" value="Pokaż więcej wiadomości"/>
                </form>
            }

            @foreach (var message in Model.Messages.Reverse())
            {
                if (message.ChatId != 0)
                {
                    if (message.SenderName == User.Identity.Name)
                    {
                        <div class="mx-2" style="font-size: 10px"><b class="mx-1">@User.Identity.Name</b>@message.SendTimeMessage</div>
                        <div class="mx-2 bg-success border border-dark rounded text-light p-1 mb-2">
                            @message.TextContent
                        </div>
                    }
                    else
                    {
                        <div class="mx-2" style="font-size: 10px"><b class="mx-1">@Model.CurrentlyChatting</b>@message.SendTimeMessage</div>
                        <div class="mx-2 bg-light border border-dark rounded p-1 mb-2">
                            @message.TextContent
                        </div>
                    }
                }

            }
        </div>

        <div style="height: 5vh;" class="d-flex align-items-center">
            <form asp-controller="Home" asp-action="Index" method="post" role="form">
                <input placeholder="Napisz wiadomość..." asp-for="Message.TextContent" autocomplete="off"/>
                <input type="submit" value="Wyślij" />
            </form>
        </div>
    </div>
</div>