﻿body {
    margin: 0;
}

#chats {
    float: left;
    border: 1px solid red;
    height: 80vh;
    overflow-y: scroll;
}

#messages {
    float: left;
    border: 1px solid red;
    height: 80vh;
}

#leftPanelAdmin {
    float: left;
    border: 1px solid red;
    height: 80vh;
    overflow-y: scroll;
}

#rightPanelAdmin {
    float: left;
    border: 1px solid red;
    height: 80vh;
}